#header {
    background: black;
    height: 5rem;
    line-height: 5rem;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-wrap: nowrap;
}

#header:hover {
    cursor: pointer;
}
