#app {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    padding: 20px;
    max-height: 100%;
    flex-grow: 1;
}

#input,
#output {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 100%;
    overflow: scroll;
    flex-grow: 1;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#input {
    gap: 20px;
}
