#label-formula {
    font-size: 3rem;
    margin-right: 20px;
}

#formula {
    width: 20rem;
    height: 5rem;
    padding: 15px;
    font-size: 3rem;
    border: 2px solid #ccc;
    border-radius: 15px;
    outline: none;
    transition: all 0.3s ease;
}
