#header {
    background: black;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: white;
    vertical-align: middle;
}

#header:hover {
    cursor: pointer;
}
