.label-variable {
    font-size: 2rem;
}

.variable {
    width: 10rem;
    height: 2.75rem;
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.list {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 20px;
}
